---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<a href="/">Inicio</a>
	<a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
</Layout>
