---
import Layout from "../layouts/Layout.astro";


// const pageTitle = "Inicio";
---

<Layout pageTitle="Inicio">
	<a href="/">Inicio</a>
	<a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
</Layout>
